/* Login container */
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

/* Form Title */
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Input fields */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
}

/* Error message */
.error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}

/* Login button */
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Animasi untuk fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.success-message {
  animation: bounce 0.5s ease-in-out;
}

/* Kontainer kosong untuk jarak */
.spacer {
  height: 50px; /* Sesuaikan tinggi ruang yang diinginkan */
  width: 100%; /* Memastikan lebar penuh */
}
