.navbar {
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffd700 !important; /* Warna emas saat hover */
}

.navbar-toggler-icon {
  filter: invert(100%);
}
