/* ProductDetail.css */

.product-image-main {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
}

.thumbnail-image {
  cursor: pointer;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.product-details {
  margin-top: 20px;
}

.product-price {
  font-size: 1.5rem;
  color: #007bff;
}

.discount-info {
  color: red;
}

.btn-primary-custom {
  background-color: #007bff;
  border-color: #007bff;
}
