.sidebar-categori {
  width: 100%;
  max-width: 250px;
}

.sidebar-categori h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.list-group-item:hover {
  background-color: #5d9bff; /* Warna saat hover */
  color: white; /* Teks berubah jadi putih */
  transition: all 0.3s ease;
}
